/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */
header {
    text-align: center;
    background-color: white;
}
nav {
    text-align: right;
}
img{
    width: 600px; height: 800px;
    margin-top: 100px;
   margin-bottom: 100px;
}
.inline{
    text-align: center;
}
h1 {
    color: rgb(143, 140, 140);
    font-size: 150px;
}
h2 {
    font-size: 50px;
    color: rgba(48, 90, 114, 0.603);
    margin-bottom: 40px;
}
h3 {
    font-size: 35px;
}
body {
    background-color: rgb(199, 199, 199);
}
p{
    margin-top: 15px;
    margin-bottom: 20px;

}
main{
    margin-left: 15px;
}
button{
    background-color: gray;
    margin-top: 80px;
}
/* about */
#about{
    background-color: indianred;
}
.heading{
    color: lavender;
    
}
#backgroundcolor{
    background-color: lightpink;
}
/* tesla */
#teslabody{
    background-color: whitesmoke;
}
#headerb{
    background-color: grey;
}
.headt{
    color: honeydew;
}




